@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    background-color: #AF6EC4;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.text {
    text-align: center;
}

#latitude, #longitude, #date, #btn {
    border-radius: 10px;
    border: 2px solid grey;
    outline: none;
    height: 2.55rem;
    background-color: white;
    font-size: 20px;
}

#btn {
    width: 100px;
    height: 2.7rem;
}

#btn:hover {
    background-color: darkgrey;
    transition: 1s;
}

/* container for all elements */
.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Map styling */
#mapid {
    height: 420px;
    width: 620px;
    border-radius: 15px;
}

/* Spacing between inputs section, map and displayed times section */
.inputs, #mapid, #display-time {
    margin-top: 2rem;
}

/* Styling for displayed time fields */
#sunrise, #sunset, #day-length {
    background-color: white;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 0.6rem;
}

/* Attribution field for API website */
.attribution {
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 20px;
}